#d1,#d2,#d3
{
    display: flex;
    flex-direction: row;
}
#s1,#s4,#s7
{
    margin-left: 20px;
}

a{
    text-decoration: none;
    color: white;
}
#s2,#s5,#s8
{
    margin-left: 100px;
}
#s3,#s6,#s9
{
    margin-left: 170px;
}
body{
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/002/176/491/small/blue-panoramic-studio-background-with-white-glow-vector.jpg");
    background-repeat: no-repeat; /* Prevents repeating */
    background-size: cover;
}
